.bright-and-vivid__filter {
  filter: saturate(20%) brightness(1.2);
}

.bright__filter {
  filter: saturate(350%);
}

.color-purity__filter {
  filter: hue-rotate(30deg);
}

.invert__filter {
  filter: invert(80%);
}

.vintage__filter {
  filter: sepia(90%) grayscale(10%);
}

.blur__filter {
  filter: blur(10px);
}

.mixed__filter {
  filter: saturate(250%) hue-rotate(110deg) blur(0.2rem) brightness(80%)
    contrast(50%);
}

.button {
  position: relative;
  border: 2px solid #000;
  background-color: #fff;
  font-family: var(--accent-font, fantasy);
  font-size: 14px;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px #000;
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button:hover::before {
  transform: scaleX(1);
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, sans-serif);
  font-variation-settings: "wght" var(--main-text-weight-text, 400);
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
  font-size: var(--main-font-size, 18px);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  max-inline-size: 696px;
  margin: 100px auto 104px auto;
  font-family: var(--accent-font, fantasy);
  background-color: #fff;
  gap: 20px;
  padding: 128px 0;
  text-transform: uppercase;
}

.header__title {
  font-size: var(
    --title-font-size,
    clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem)
  );
}

.header__text {
  font-size: var(
    --title-text-font-size,
    clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem)
  );
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  max-inline-size: 696px;
  margin: 0 auto;
}

.card {
  background-color: #fff;
  border: 2px solid #000;
}

.cards__list {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.card__title {
  font-size: var(--main-font-size, 18px);
  font-variation-settings: "wght" var(--main-font-weight-title, 700);
  padding: 3px 0 3px 10px;
}

.card__image-container {
  position: relative;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.card__image-container-label { 
  position: absolute; 
  top: 25px; 
  right: 25px; 
  font-family: var(--accent-font, fantasy); 
  font-size: 14px; 
  line-height: 14px; 
  text-shadow: -1px 0 var(--stroke-color, #000), 0 1px var(--stroke-color, #000), 1px 0 var(--stroke-color, #000), 0 -1px var(--stroke-color, #000); 
  mix-blend-mode: hard-light; 
  opacity: 0.5; 
  z-index: 1;
} 

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) { 
  .card__image-container-label { 
    text-shadow: none; 
    text-stroke: 1px #fff;
    -webkit-text-stroke: 1px #fff; 
  } 
} 

.card-image {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.card__content {
  padding: 25px;
}

.card__content-text {
  margin-block-end: 27px;
}

.card__button {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  gap: 5px;
}

.card__icon-button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  max-block-size: 38px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid #000;
  transition: border 0.3s ease;
}

.card__like-button {
  width: 130px;
  height: 38px;
}

.button__text {
  color: #fff;
  font-size: 14px;
  mix-blend-mode: difference;
}

.save__button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 52px;
  margin-bottom: 103px;
}

.floppy-icon {
  width: 21px;
  height: 21px;
  fill: #fff;
  mix-blend-mode: difference;
}

.save-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 335px;
  height: 55px;
  gap: 9px;
}

.dialog {
  max-width: 358px;
  min-width: 341px;
  border: 2px solid #000;
  padding: 31.5px 32.5px 30.5px 30px;
  font-size: 14px;
  text-transform: uppercase;
  background: #fff;
}

dialog[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.dialog::backdrop {
  opacity: 0.75;
  background-color: #000;
}

.dialog__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.dialog__floppy-icon {
  fill: #fff;
  width: 39px;
  height: 39px;
  mix-blend-mode: difference;
}

.dialog__text {
  font-size: 14px;
  font-family: var(--accent-font, fantasy);
  line-height: 21px;
  text-transform: uppercase;
  max-width: 234px;
}

.dialog__close-button {
  border: 2px solid currentColor;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  width: 293px;
  height: 38px;
}

@media (max-width: 375px) {
  .header {
    padding: 120px 0;
  }

  .card__title {
    width: 300px;
  }

  .card__image-container-label {
    top: 23px;
    right: 11px;
  }

  .save-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 306px;
    height: 84px;
  }

  .floppy-icon {
    width: 28px;
    height: 28px;
  }
}
