:root {
  --main-font: "Inter";
  --accent-font: "PressStart2P";
  --main-font-weight-title: 700;
  --main-font-weight-text: 400;
  --title-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --title-text-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --background-image: repeating-linear-gradient(
    90deg,
    #d3d3d3,
    #d3d3d3 2px,
    transparent 2px,
    transparent 4px
  ),
  repeating-linear-gradient(
    180deg,
    #e7e7e7,
    #1a1a1a 2px,
    transparent 2px,
    transparent 4px
  ),
  repeating-linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a);
  --main-font-size: 18px;
  --stroke-color: #000;
  --heart-fill-color: #ff0000;
  --heart-contour-color: #000;
}
